:root,
body,
button {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #061425;
  color: white;
}

section {
  margin-bottom: 50px;
}

.wrapper {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 100%;
  width: 960px;
  margin-bottom: 60px;
  padding: 15px;
}

.landing-card {
  position: sticky;
  top: 30px;
  color: white !important;
  margin-bottom: 50px;

  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  color: #333;

  height: 540px;

  overflow: hidden;
}

.card-body {
  background-color: #1c3c59;
  background-image: linear-gradient(
    311deg,
    rgba(26, 188, 254, 0.23),
    rgba(9, 26, 47, 0.1)
  );
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.2);
}

.landing-card:nth-child(1) {
  top: 20px;
}

.landing-card:nth-child(2) {
  top: 40px;
}

.landing-card:nth-child(3) {
  top: 60px;
}

.landing-card:nth-child(4) {
  top: 80px;
}

.landing-card:nth-child(5) {
  top: 100px;
}

.landing-card:nth-child(6) {
  top: 120px;
}

.landing-card:nth-child(7) {
  top: 140px;
}

.landing-card:nth-child(8) {
  top: 160px;
}

.landing-card:nth-child(9) {
  top: 180px;
}

.landing-card:nth-child(10) {
  top: 200px;
}

.card-body {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  height: 100%;
}

.card-body.is-flipped {
  transform: rotateY(180deg);
}

.card-body.is-flipped .card-front {
  transition: opacity 0.3s;
  opacity: 0;
}

.card-body:not(.is-flipped) > .card-front {
  transition: opacity 3s;
  opacity: 1;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  padding: 100px;
}

h1,
h2 {
  font-weight: 600;
}

.fa-large {
  font-size: 55px;
  margin-bottom: 25px;
}

/* --- edits --- */

.edit {
  border: 1px solid transparent;
}

.edit:hover,
.editing {
  cursor: pointer;
  border: 1px dashed #ced4da;
}

.ProseMirror,
.ProseMirror p {
  color: black !important;
}

.ProseMirror {
  display: block;
  min-height: 150px !important;
  border: 1px solid #ddd;
  padding: 15px;
  outline: none;
  border-radius: 0 0 6px 6px;
  margin-bottom: 20px;
  margin-top: 0;
  border-top: 0;
  background-color: #ffffff;
}

.modal {
  color: black;
  margin-top: 100px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999999;
}
