/* general styles 

.wdgt input {
  margin-bottom: 15px;
  padding: 7px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.wdgt input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #6075e6;
}

.wdgt select {
  margin-bottom: 15px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  background-color: white;
}

.wdgt button:not(.exclude) {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 15px;
  background-color: white;
}

.wdgt button:hover {
  border: 1px solid #777;
}

.wdgt button.primary {
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  background-color: #6075e6;
  color: white;
}

.wdgt button.primary:hover {
  background-color: #4655c3;
}


*/

.wdgt {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.wdgt button.primary {
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  background-color: #6075e6;
  color: white;
}

.wdgt button.primary:hover {
  background-color: #4655c3;
}

.form-control {
  margin-bottom: 15px;
}

.wdgt-nav {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.wdgt-nav a {
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  border-bottom: 3px solid transparent;
}

.wdgt-nav a.active {
  border-bottom: 3px solid #6075e6;
}

.input-group-append .btn-outline-secondary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #cfd3da;
}

/* --- edits --- */

.edit {
  border: 1px solid transparent;
}

.edit:hover,
.editing {
  cursor: pointer;
  border: 1px dashed #5b5c5c;
}

.ProseMirror,
.ProseMirror p {
  color: black !important;
}

.ProseMirror {
  display: block;
  height: 180px !important;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 15px;
  padding-top: 10px !important;
  outline: none;
  border-radius: 0 0 6px 6px;
  margin-bottom: 15px;
  margin-top: 0;
  border-top: 0;
  background-color: #ffffff;
  font-size: 18px !important;
  line-height: 28px !important;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ProseMirror p {
  font-size: 18px !important;
  line-height: 28px !important;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.editor-wide .ProseMirror {
  min-height: 250px !important;
}

.modal {
  color: black;
  margin-top: 100px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999999;
}

.clear {
  clear: both;
}

.content-editor .btn-outline-secondary {
  border: 1px solid #dddddd;
}

.wdgt .label {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 12px !important;
  margin-bottom: 2px !important;
}

.color-picker .container {
  justify-content: left !important;
  padding: 10px 0 10px 0 !important;
}

.color {
  border: 1px solid #d2d2d2;
}

.picker {
  margin-left: -3px;
}

.isPopup.isOpen {
  margin-left: 3px;
  margin-top: -20px;
}

/* form styles */

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.wdgt .close {
  float: right;
  font-size: 32px;
}

.wdgt .close:hover {
  color: black;
  cursor: pointer;
}

.wdgt .btn-group {
  display: flex;
}
.wdgt .btn-group .btn {
  border-radius: 0;
  border-right: 0 !important;
  padding: 5px 15px;
  background-color: white;
  cursor: pointer;
}

.wdgt .btn-group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.wdgt .btn-group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #dddcdd !important;
}

.wdgt .list-group-item {
  border: 1px solid #dddcdd;
  border-bottom: 0;
  display: block;
  padding: 10px 15px;
}

.wdgt .list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.wdgt .list-group-item:last-child {
  border-bottom: 1px solid #dddcdd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.wdgt h3 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.wdgt-body {
  position: relative;
}

.wdgt-footer {
  display: block;
  position: fixed;
  bottom: 20px !important;
  right: 20px !important;
}

.button .fas {
  margin-right: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 18px;
}
