:root,
body,
button {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #232529;
  color: white;
}

section {
  margin-bottom: 50px;
}

/* --- edits --- */

.edit {
  border: 1px solid transparent;
}

.edit:hover,
.editing {
  cursor: pointer;
  border: 1px dashed #ced4da;
}

.ProseMirror,
.ProseMirror p {
  color: black !important;
}

.ProseMirror {
  display: block;
  min-height: 150px !important;
  border: 1px solid #ddd;
  padding: 15px;
  outline: none;
  border-radius: 0 0 6px 6px;
  margin-bottom: 20px;
  margin-top: 0;
  border-top: 0;
  background-color: #ffffff;
}
